<?xml version="1.0" encoding="UTF-8"?>
<settings>
 <proxies>
  <proxy>
   <active>true</active>
   <protocol>http</protocol>
   <host>proxy</host>
   <port>8080</port>
   <username>venky</username>
   <password>1259</password>
   <nonProxyHosts>www.google.com|*.test.com</nonProxyHosts>
  </proxy>
 </proxies>
</settings>